@page
@model MOTM.Pages.OrderHistoryModel
@{
    ViewData["Title"] = "Your Order History";
}

<h1>Your Order History</h1>

<form method="POST">
    <fieldset>
        <legend>Filter by Scheduled Month of Visit:</legend>
        <label asp-for="SearchMonth">
            <input type="month" asp-for="SearchMonth" />
        </label>
        <button type="submit" asp-page-handler="Search">Filter</button>
    </fieldset>
</form>

@if (Model.Searched)
{
    <a asp-page="OrderHistory" asp-page-Searched="false">View all Results</a>
}

<table>
    <caption>Orders you've placed</caption>
    <thead>
        <tr>
            <th>Price</th>
            <th>Services</th>
            <th>Time</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Order Order in Model.Orders)
        {
            <tr>
                <td>
                    @foreach (Service Service in Model.Services)
                    {
                        if (Order.Services % Service.ID == 0)
                        {
                            Model.Cost += Service.Price;
                        }
                    }
                    @Model.Cost.ToString("C")
                    @{
                        Model.Cost = 0;
                    }
                </td>
                <td>
                    <ul>
                        @foreach (Service Service in Model.Services)
                        {
                            if (Order.Services % Service.ID == 0)
                            {
                                <li>@Service.Name</li>
                            }
                        }
                    </ul>
                </td>
                <td>
                    <dl>
                        <dt>Ordered Time:</dt>
                        <dd>@Order.OrderedTime.ToString("dd-MM-yyyy HH:mm")</dd>
                        <dt>Time Slot:</dt>
                        <dd>@Order.TimeSlot.ToString("dd-MM-yyyy HH:mm")</dd>
                    </dl>
                </td>
                <td>
                    <dl>
                        <dt>Fulfilment:</dt>
                        <dd>@(Order.Fulfilled ? "Fulfilled" : "Unfulfilled")</dd>
                        <dt>Payment:</dt>
                        <dd>@(Order.Paid ? "Confirmed" : "Unconfirmed")</dd>
                    </dl>
                </td>
            </tr>
        }
    </tbody>
</table>