@page
@model MOTM.Pages.ProfileOverviewModel
@{
    ViewData["Title"] = "Profile Overview";
}

<h1> Profile Overview</h1>

@if (!User.IsInRole("Admin"))
{
    <table>
        <caption>Your Pending Orders:</caption>
        <thead>
            <tr>
                <th>Price</th>
                <th>Time Slot</th>
                <th>Order Placed</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Order in Model.PendingOrders)
            {
                <tr>
                    <td>
                        @foreach (var service in Model.Services)
                        {
                            if (Order.Services % service.ID == 0)
                            {
                                Model.Cost += service.Price;
                            }
                        }
                        @Model.Cost.ToString("C")
                        @{
                            Model.Cost = 0;
                        }
                    </td>
                    <td>@Order.TimeSlot.ToString("yyyy-MM-dd HH:mm")</td>
                    <td>@Order.OrderedTime.ToString("yyyy-MM-dd HH:mm")</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <nav>
        <a asp-page="/Profile/Admin/PendingOrders">View & Edit Pending Orders</a>
        <a asp-page="/Profile/Admin/AllOrders">View & Edit All Orders</a>
    </nav>
}

<h2>Your Contact Details:</h2>

<dl>
    <dt>Your E-Mail Address:</dt>
    <dd>@Model.Customer.EMail</dd>

    <dt>Your First Name:</dt>
    <dd>@Model.Customer.FirstName</dd>

    <dt>Your Last Name:</dt>
    <dd>@Model.Customer.LastName</dd>

    <dt>Your Phone Number:</dt>
    <dd>@Model.Customer.PhoneNumber</dd>

    <dt>Your First Line of Address:</dt>
    <dd>@Model.Customer.FirstAddressLine</dd>

    <dt>Your Second Line of Address:</dt>
    @if (Model.Customer.SecondAddressLine == null)
    {
        <dd><samp>You don't have a second line of address</samp></dd>
    }
    else
    {
        <dd>@Model.Customer.SecondAddressLine</dd>
    }
    <dt>Your Third Line of Address:</dt>

    @if (Model.Customer.ThirdAddressLine == null)
    {
        <dd><samp>You don't have a third line of address</samp></dd>
    }
    else
    {
        <dd>@Model.Customer.ThirdAddressLine</dd>
    }

    <dt>Your Postal Town:</dt>
    <dd>@Model.Customer.PostTown</dd>

    <dt>Your Post Code:</dt>
    <dd>@Model.Customer.PostCode</dd>
</dl>
@if (!User.IsInRole("Admin"))
{
    <nav>
        <a asp-page="OrderHistory">View Order History</a>
        <a asp-page="ContactDetails">Edit Contact Details</a>
    </nav>
}