@page
@model MOTM.Pages.Profile.Admin.AllOrdersModel
@{
    ViewData["Title"] = "All Orders";
}

<h1>All Orders</h1>

<a asp-page="PendingOrders">View Pending Orders</a>

<form method="POST">
    <fieldset>
        <legend>Filter these results:</legend>
        <label asp-for="Input.FirstName">
            By First Name
            <input maxlength="30" asp-for="Input.FirstName" />
        </label>
        <label asp-for="Input.LastName">
            By Last Name
            <input maxlength="30" asp-for="Input.LastName" />
        </label>
        <label asp-for="Input.OrderedMonth">
            By Month Ordered
            <input type="month" asp-for="Input.OrderedMonth" />
        </label>
        <label asp-for="Input.BookedMonth">
            By Month Booked
            <input type="month" asp-for="Input.BookedMonth" />
        </label>
        <button type="submit" asp-page-handler="Filter">Filter</button>
    </fieldset>
</form>

<form method="POST">
    <table>
        <caption>All Orders</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Services</th>
                <th>Contact Details</th>
                <th>Time</th>
                <th>Fulfilled</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Order in Model.CustomersOrders)
        
            {
                <tr>
                    <td>@(Order.FirstName + " " + Order.LastName)</td>
                    <td>
                        <ul>
                            <li>@Order.FirstAddressLine</li>
                                @if (Order.SecondAddressLine != null)
                                {
                                    <li>@Order.SecondAddressLine</li>
                                }
                                @if (Order.ThirdAddressLine != null)
                                {
                                    <li>@Order.ThirdAddressLine</li>
                                }
                            <li>@Order.PostTown</li>
                            <li>@Order.PostCode</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            @foreach (var Service in Model.Services)
                            {
                                if (Order.Services % Service.ID == 0)
                                {
                                    <li>@Service.Name</li>
                                }
                            }
                        </ul>
                    </td>
                    <td>
                        <dl>
                            <dt>E-Mail:</dt>
                            <dd>@Order.EMail</dd>
                            <dt>Phone Number:</dt>
                            <dd>@Order.PhoneNumber</dd>
                        </dl>
                    </td>
                    <td>
                        <dl>
                            <dt>Ordered Time:</dt>
                            <dd>@Order.OrderedTime.ToString("dd-MM-yyyy hh:mm")</dd>
                            <dt>Time Slot:</dt>
                            <dd>@Order.TimeSlot.ToString("dd-MM-yyyy hh:mm")</dd>
                        </dl>
                    </td>
                    <td>
                        @(Order.Fulfilled ? "Yes" : "No")
                    </td>
                    <td>
                        <button type="submit" asp-page-handler="Incomplete" asp-route-CustomerId="@Order.CustomerId" asp-route-OrderedTime="@Order.TimeSlot.ToString()" >Set to Unfunfilled</button>
                        <button type="submit" asp-page-handler="Delete" asp-route-CustomerId="@Order.CustomerId" asp-route-OrderedTime="@Order.TimeSlot.ToString()" >Erase Order</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>