@page
@model MOTM.Pages.Profile.Admin.UnpaidOrdersModel
@{
    ViewData["Title"] = "View Unpaid Orders";
}

<nav>
    <a asp-page="AllOrders">View All Orders</a>
    <a asp-page="PendingOrders">View Pending Orders</a>
</nav>

<h1>Unpaid Orders</h1>

<form method="POST">
    <table>
        <caption>Today's Orders</caption>
        <thead>
            <tr>
                <th>Contact Details</th>
                <th>Address</th>
                <th>Services</th>
                <th>Time</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (CustomerOrder Order in Model.TodaysOrders)
            {
                <tr>
                    <td>
                        <dl>
                            <dt>Name:</dt>
                            <dd>@(Order.FirstName + " " + Order.LastName)</dd>
                            <dt>E-Mail:</dt>
                            <dd>@Order.EMail</dd>
                            <dt>Phone Number:</dt>
                            <dd>@Order.PhoneNumber</dd>
                        </dl>
                    </td>
                    <td>
                        <ul>
                            <li>@Order.FirstAddressLine</li>
                            @if (Order.SecondAddressLine != null)
                            {
                                <li>@Order.SecondAddressLine</li>
                            }
                            @if (Order.ThirdAddressLine != null)
                            {
                                <li>@Order.ThirdAddressLine</li>
                            }
                            <li>@Order.PostTown</li>
                            <li>@Order.PostCode</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            @foreach (Service Service in Model.Services)
                            {
                                if (Order.Services % Service.ID == 0)
                                {
                                    <li>@Service.Name</li>
                                }
                            }
                        </ul>
                    </td>
                    <td>
                        <dl>
                            <dt>Ordered Time:</dt>
                            <dd>@Order.OrderedTime.ToString("dd-MM-yyyy HH:mm")</dd>
                            <dt>Time Slot:</dt>
                            <dd>@Order.TimeSlot.ToString("dd-MM-yyyy HH:mm")</dd>
                        </dl>
                    </td>
                    <td>
                        <dl>
                            <dt>Fulfilment:</dt>
                            <dd>@(Order.Fulfilled ? "Fulfilled" : "Unfulfilled")</dd>
                            <dt>Payment:</dt>
                            <dd>@(Order.Paid ? "Confirmed" : "Unconfirmed")</dd>
                        </dl>
                    </td>
                    <td>
                        <button type="submit" asp-page-handler="Fulfil" asp-route-CustomerID="@Order.CustomerId" asp-route-TimeSlot="@Order.TimeSlot.ToString()">Mark as Fulfilled</button>
                        @if (!Order.Paid)
                        {
                            <button type="submit" asp-page-handler="ConfirmPayment" asp-route-CustomerID="@Order.CustomerId" asp-route-TimeSlot="@Order.TimeSlot.ToString()">Mark as Paid</button>
                        }
                        else
                        {
                            <button type="submit" asp-page-handler="UndoPaymentConfirmation" asp-route-CustomerID="@Order.CustomerId" asp-route-TimeSlot="@Order.TimeSlot.ToString()">Mark as Unpaid</button>
                        }
                        <button type="submit" asp-page-handler="Delete" asp-route-CustomerId="@Order.CustomerId" asp-route-OrderedTime="@Order.TimeSlot.ToString()">Erase Order</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <table>
        <caption>Overdue Orders</caption>
        <thead>
            <tr>
                <th>Contact Details</th>
                <th>Address</th>
                <th>Services</th>
                <th>Time</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (CustomerOrder Order in Model.OverdueOrders)
            {
                <tr>
                    <td>
                        <dl>
                            <dt>Name:</dt>
                            <dd>@(Order.FirstName + " " + Order.LastName)</dd>
                            <dt>E-Mail:</dt>
                            <dd>@Order.EMail</dd>
                            <dt>Phone Number:</dt>
                            <dd>@Order.PhoneNumber</dd>
                        </dl>
                    </td>
                    <td>
                        <ul>
                            <li>@Order.FirstAddressLine</li>
                            @if (Order.SecondAddressLine != null)
                            {
                                <li>@Order.SecondAddressLine</li>
                            }
                            @if (Order.ThirdAddressLine != null)
                            {
                                <li>@Order.ThirdAddressLine</li>
                            }
                            <li>@Order.PostTown</li>
                            <li>@Order.PostCode</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            @foreach (Service Service in Model.Services)
                            {
                                if (Order.Services % Service.ID == 0)
                                {
                                    <li>@Service.Name</li>
                                }
                            }
                        </ul>
                    </td>
                    <td>
                        <dl>
                            <dt>Ordered Time:</dt>
                            <dd>@Order.OrderedTime.ToString("dd-MM-yyyy HH:mm")</dd>
                            <dt>Time Slot:</dt>
                            <dd>@Order.TimeSlot.ToString("dd-MM-yyyy HH:mm")</dd>
                        </dl>
                    </td>
                    <td>
                        <dl>
                            <dt>Fulfilled:</dt>
                            <dd>@(Order.Fulfilled ? "Fulfilled" : "Unfulfilled")</dd>
                            <dt>Payment:</dt>
                            <dd>@(Order.Paid ? "Confirmed" : "Unconfirmed")</dd>
                        </dl>
                    </td>
                    <td>
                        <button type="submit" asp-page-handler="Fulfil" asp-route-CustomerID="@Order.CustomerId" asp-route-TimeSlot="@Order.TimeSlot.ToString()">Mark as Fulfilled</button>
                        @if (!Order.Paid)
                        {
                            <button type="submit" asp-page-handler="ConfirmPayment" asp-route-CustomerID="@Order.CustomerId" asp-route-TimeSlot="@Order.TimeSlot.ToString()">Mark as Paid</button>
                        }
                        else
                        {
                            <button type="submit" asp-page-handler="UndoPaymentConfirmation" asp-route-CustomerID="@Order.CustomerId" asp-route-TimeSlot="@Order.TimeSlot.ToString()">Mark as Unpaid</button>
                        }
                        <button type="submit" asp-page-handler="Delete" asp-route-CustomerId="@Order.CustomerId" asp-route-OrderedTime="@Order.TimeSlot.ToString()">Erase Order</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <table>
        <caption>Upcoming Orders</caption>
        <thead>
            <tr>
                <th>Contact Details</th>
                <th>Address</th>
                <th>Services</th>
                <th>Time</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (CustomerOrder Order in Model.UpcomingOrders)
            {
                <tr>
                    <td>
                        <dl>
                            <dt>Name:</dt>
                            <dd>@(Order.FirstName + " " + Order.LastName)</dd>
                            <dt>E-Mail:</dt>
                            <dd>@Order.EMail</dd>
                            <dt>Phone Number:</dt>
                            <dd>@Order.PhoneNumber</dd>
                        </dl>
                    </td>
                    <td>
                        <ul>
                            <li>@Order.FirstAddressLine</li>
                            @if (Order.SecondAddressLine != null)
                            {
                                <li>@Order.SecondAddressLine</li>
                            }
                            @if (Order.ThirdAddressLine != null)
                            {
                                <li>@Order.ThirdAddressLine</li>
                            }
                            <li>@Order.PostTown</li>
                            <li>@Order.PostCode</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            @foreach (Service Service in Model.Services)
                            {
                                if (Order.Services % Service.ID == 0)
                                {
                                    <li>@Service.Name</li>
                                }
                            }
                        </ul>
                    </td>
                    <td>
                        <dl>
                            <dt>Ordered Time:</dt>
                            <dd>@Order.OrderedTime.ToString("dd-MM-yyyy HH:mm")</dd>
                            <dt>Time Slot:</dt>
                            <dd>@Order.TimeSlot.ToString("dd-MM-yyyy HH:mm")</dd>
                        </dl>
                    </td>
                    <td>
                        <dl>
                            <dt>Fulfilled:</dt>
                            <dd>@(Order.Fulfilled ? "Fulfilled" : "Unfulfilled")</dd>
                            <dt>Payment:</dt>
                            <dd>@(Order.Paid ? "Confirmed" : "Unconfirmed")</dd>
                        </dl>
                    </td>
                    <td>
                        <button type="submit" asp-page-handler="Fulfil" asp-route-CustomerID="@Order.CustomerId" asp-route-TimeSlot="@Order.TimeSlot.ToString()">Mark as Fulfilled</button>
                        @if (!Order.Paid)
                        {
                            <button type="submit" asp-page-handler="ConfirmPayment" asp-route-CustomerID="@Order.CustomerId" asp-route-TimeSlot="@Order.TimeSlot.ToString()">Mark as Paid</button>
                        }
                        else
                        {
                            <button type="submit" asp-page-handler="UndoPaymentConfirmation" asp-route-CustomerID="@Order.CustomerId" asp-route-TimeSlot="@Order.TimeSlot.ToString()">Mark as Unpaid</button>
                        }
                        <button type="submit" asp-page-handler="Delete" asp-route-CustomerId="@Order.CustomerId" asp-route-OrderedTime="@Order.TimeSlot.ToString()">Erase Order</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>