@page "{Handler}"
@model MOTM.Pages.CatalogueModel
@{
    ViewData["Title"] = "Catalogue";
}

@if (Model.Empty)
{
    <samp>Please select at least one option.</samp><br />
}
@if (Model.Overloaded)
{
    <samp>Please ensure the total duration does not exceed 2 hours</samp><br />
}
<table>
    <caption>Services & Pricing</caption>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Duration</th>
            <th>Price</th>
            <th>Selected</th>
        </tr>
    </thead>
    <form method="POST">
        <tbody>
            @for (int i = 0; i < Model.Services.Count; i++)
            {
                <tr>
                    <td>@Model.Services[i].Name</td>
                    <td>@Model.Services[i].Description</td>
                    <td>@Model.Services[i].Duration min</td>
                    <td>@Model.Services[i].Price.ToString("C")</td>
                    <td><input type="checkbox" asp-for="Selected[i]"/></td>
                </tr>              
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    <button type="submit" asp-route-Choices="@Model.Choices">Place Order</button>
                </td>
            </tr>
        </tfoot>
    </form>
</table>